<!-- <nav id="sidebarMenu" class="d-md-block sidebar collapse">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home']" >
        <i class="icon icon-home"></i>
        Home <span class="sr-only">(current)</span>
      </a>
    </li>

    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/user-list']" routerLinkActive="active">
        <i class="icon icon-user"></i>
        User Management
      </a>
    </li>
  </ul>
</nav> -->


<nav id="sidebarMenu" class="sidebar-container collapse">
	<div class="left-nav sidebar">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">
					<i class="icon icon-home"></i>
					Home <span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/organization-information']" routerLinkActive="active">
					<i class="icon icon-user"></i>
					Org Manager
				</a>
			</li>
		</ul>
		<span class="admin-text">Admin</span>
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/user-information']" routerLinkActive="active">
					<i class="icon icon-user"></i>
					Users <span class="sr-only">(current)</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/user-list']" routerLinkActive="active">
					<i class="icon icon-user"></i>
					Portal Settings
				</a>
			</li>
		</ul>
	</div>
	<div class="sidebar left-nav-inner">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/now']" routerLinkActive="active">
					<i class="fa fa-caret-down" ></i>NOW CFO 
				</a>
				<ul class="nav-inner">
					<li class="nav-item">
						<a class="nav-link" [routerLink]="['/east']" routerLinkActive="active">
							<i class="fa fa-caret-down" ></i>East Coast 
						</a>
						<ul class="nav-inner">
							<li class="nav-item">
								<a class="nav-link" [routerLink]="['/east']" routerLinkActive="active">
									<i class="fa fa-caret-down" ></i>East Coast 
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" [routerLink]="['/hwestome']" routerLinkActive="active">
									<i class="fa fa-caret-down" ></i>West Coast 
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" [routerLink]="['/hwestome']" routerLinkActive="active">
							<i class="fa fa-caret-down" ></i>West Coast 
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/better']" routerLinkActive="active">
					<i class="fa fa-caret-down" ></i>Better Accounting
				</a>
			</li>
		</ul>
	</div>

</nav>