<nav id="sidebarMenu" class="sidebar-container collapse">
  <div class="left-nav sidebar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">
          <i class="icon icon-home"></i>
          Home <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" *ngFor="let menu of menus">
        
        <a
          class="nav-link"
          routerlinkactive="active"
          (click)="toggleOrganizationNav(menu)"
        >
          <i class="icon icon-user"></i>
          {{ menu }}
        </a>
      </li>
    </ul>
    <span class="admin-text"></span>
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let admin of admins">
        <a
          class="nav-link"
          [routerLink]="['/user-information']"
          routerLinkActive="active"
        >
          <i class="icon icon-user"></i>
          {{ admin }}
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar left-nav-inner" [ngClass]="expandOrgNav ? 'd-block' : ''">
    <ngx-treeview
      [itemTemplate]="itemTemplate"
      (valueChange)="onValueChange($event)"
      [config]="config"
      [items]="items"
    >
    </ngx-treeview>

    <ng-template
      #itemTemplate
      let-item="item"
      let-onCollapseExpand="onCollapseExpand"
      let-onCheckedChange="onCheckedChange"
    >
      <div class="form-inline row-item">
        <i
          *ngIf="item.children"
          (click)="onCollapseExpand()"
          aria-hidden="true"
          class="fa"
          [class.fa-caret-right]="item.collapsed"
          [class.fa-caret-down]="!item.collapsed"
        ></i>
        <div class="form-check">
          <label
            style="padding-left: 5px"
            class="form-check-label"
            (click)="onValueChange(item.value)"
          >
            {{ item.text }}
          </label>
        </div>
      </div>
    </ng-template>
  </div>
</nav>
