<div class="">
  <div class="btn-container">
    <button type="button" class="btn btn-green" (click)="openCreateModal(content)">
      New Organization
    </button>
  </div>
  <div class="content">
    <div class="title-container">
      <h1 class="page-title"  *ngIf="orgList">Organizations</h1>
    </div>
      <div class="table-responsive" *ngIf="orgList">
        <table class="table table-harbor">
          <thead>
            <tr>
              <th scope="col">S.N</th>
              <th scope="col">Organization Name</th>
              <th scope="col">HasParent</th>
              <th scope="col">ParentOrganization</th>
              <th scope="col">Action {{selectedOrgId}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let organization of organizations; let i = index">
              <td>{{ i + 1 }}</td>
              <td data-th="UserName ">{{ organization.organizationName }}</td>
              <td data-th="First Name ">{{ organization.hasParent }}</td>
              <td data-th="Last Name">{{ organization.parentOrganization }}</td>
  
              <td data-th="Actions">
                <a
                  (click)="openEditModal(content, organization)"
                  class="icon-holder"
                  href="javascript:void(0)"
                  title="edit"
                  ><i class="icon icon-pencil-create"></i
                ></a>
                <span></span>
                <a
                  class="icon-holder"
                  (click)="openDeleteModal(deletecontent,organization.organizationId)"
                  href="javascript:void(0)"
                  title="delete"
                  ><i class="icon icon-circle-block"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="empList">
      <div class="table-responsive" *ngIf="orgEmployees.organization||orgEmployees.childOrganization">
        <h4>{{orgEmployees.organization}}</h4>
        <table class="table table-harbor" >
          <thead>
            <tr>
              <th scope="col">S.N </th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Address</th>
              <th scope="col">City</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orgEmp of orgEmployees.employees; let i = index">
              <td>{{ i + 1 }}</td>
              <td data-th="employeeName ">{{ orgEmp.employeeName }}</td>
              <td data-th="First Name ">{{ orgEmp.email }}</td>
              <td data-th="Last Name">{{ orgEmp.phoneNumber }}</td>
              <td data-th="Last Name">{{ orgEmp.address }}</td>
              <td data-th="Last Name">{{ orgEmp.city }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-org-employees *ngIf="orgEmployees.childOrganization.length>0" [orgList]="orgEmployees.childOrganization"></app-org-employees>
    </div>

   

 
    <ng-template #content let-modal>
      <div class="container">
        <h3 class="modal-title" *ngIf="!isEdit">Create New Organization</h3>
        <h3 class="modal-title" *ngIf="isEdit">Update Organization</h3>

        <form
          class="form-cfo"
          [formGroup]="OrganizationForm">
          <div class="form-group">
            <input
              type="text"
              formControlName="organizationName"
              class="form-control"
              placeholder="Organization Name"
              [ngClass]="{'invalid-input': OrganizationForm.controls.organizationName.touched && OrganizationForm.controls.organizationName.errors}">
            <div *ngIf="OrganizationForm.controls.organizationName.touched && OrganizationForm.controls.organizationName.errors?.required"
                            class="error-msg ">Organization is required</div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="custom-checkbox">
                <input
                  type="checkbox"
                  id="checkboxId"
                  value="1"
                  formControlName="hasParent" (change)="checkValue($event)"/>
                <span class="">Has Parent ?</span>
              </div>
             
            </div>
          </div>
          <div class="form-group" *ngIf="OrganizationForm.value.hasParent">
            <ng-select [items]="organizations" 
            bindLabel="organizationName" 
            bindValue="organizationId" formControlName="parentOrganizationId"
            placeholder="Select Parent Organization"
            class="cfo-select"
            
            [ngClass]="{'invalid-input': OrganizationForm.value.hasParent && OrganizationForm.controls.hasParent.errors?.required }">
            </ng-select>
            
            <div *ngIf="OrganizationForm.controls.parentOrganizationId.errors?.required"
                            class="error-msg ">Parent Organization is required</div>
                          
                         
          </div>

          <!-- <button type="submit" class="btn btn-primary">{{EventValue}}</button>
                <button type="button" class="btn btn-info" (click)="modal.close('Close Button Clicked')">
                  <i class="fa fa-times"></i> Cancel
                </button> -->
          <div class="float-right">
            <button type="submit" class="btn btn-green mr-3" [disabled]="submitted" (click)="onSubmit()">
              {{ EventValue }} 
            </button>
            <button
              type="button"
              class="btn btn-gray"
              (click)="modal.close('Close Button Clicked')"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </ng-template>

    <ng-template #deletecontent let-modal>
      <div class="container">
        <h3 class="modal-title">
          This action is permanent. Are you sure you want to delete this
          organizational unit?
        </h3>
        <div class="float-right">
          <button type="submit" (click)="Delete()" class="btn btn-green mr-3">
            {{ EventValue }}
          </button>
          <button
            type="button"
            class="btn btn-gray"
            (click)="modal.close('Close Button Clicked')"
          >
            Cancel
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
