.title-container {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  align-self: center;

  @media (min-width: 1660px) {
    flex-direction: row;
  }

  .content-right {
    margin-left: auto;
  }
}

.page-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.table-title {
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  display: flex;
}

.content-title {
  font-weight: bold;
  font-size: 25px;
}

.btn-container {
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
  margin-left: auto;
}