<header>
  <div class="gosend-container">
    <nav class="navbar sticky-top flex-md-nowrap shadow">
      <a class="navbar-brand" href="#">
        <img src="assets/images/nowcfo.png" alt="logo" />
      </a>
      <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->

      <!-- <div class="logout">
        <a href="javascript:;">Sign out</a>
      </div> -->
      <div ngbDropdown>
        <button class="btn user-options" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img class="rounded-circle img-responsive imgcard2" src="assets/images/user.jpg" alt="" >
          <i ngbDropdownToggle class="headericon fa fa-chevron-down custom-icon-class"></i>
        </button>
        <form ngbDropdownMenu class="dropdown-menu list dropdown-menu-right users-dropdown">
          <span>{{userName}}</span>
          <!-- <a class="dropdown-item menu text-center">Profile</a> -->
                    <a class="dropdown-item menu" routerLink="/changepassword">Change Password</a>

          <hr>
          <a class="dropdown-item menu text-center" href="javascript:;" (click)="onLogOut()" routerLinkActive="router-link-active" >Logout</a>
        </form>
      </div>
    </nav>
  </div>
</header>