
<div class="container-fluid justify-content-center align-items-center">
    <div class="row d-flex justify-content-center">
      <div class="col-md-3 d-flex align-items-center">
        <img class="icon__status " src="assets/images/404.svg" alt="404"/>
      </div>
      <div class="message__block d-flex flex-column justify-content-center align-items-center ">
        <span class="heading">Oops!</span>
        <span class="error-code">Error: 404</span>
        <span class="error-message">Page Not Found</span>
        <button (click)="getBack()" class="btn btn-custom">Back to Previous</button>
      </div>
      <div class="col-md-3 d-flex align-items-center">
        <img class="icon__lamp mr-5" src="assets/images/lamp.svg" alt="lamp-icon"/>
      </div>
    </div>
  </div>
  