.point-item {
  height: 170px;
  background-color: #fff;
  box-sizing: border-box;
  font-family: SourceSansPro-Regular, "Source Sans Pro";
  color: #333;
  text-align: center;
  line-height: normal;
  cursor: pointer;
  padding: 16px;    
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  i {
    font-size: 48px;
  }
  .card-text {
    font-weight: 400;
    font-size: 15px;
    color: #43425d;
  }
}
