.table-harbor {
    .form-control {
        max-width: 130px;
        margin-top: 0px;
    }
}

.search-form {
    align-items: center;

    label {
        margin-bottom: 0;
        margin-right: 10px;
    }
}