<form [formGroup]="marketMasterForm" class="form-cfo">
  <!-- {{marketMasterForm.value|json}} -->
  <div class="form-row">
    <div class="form-group col-md-4">
      <input type="hidden" [ngModel]="parentOrganizationId" formControlName="organizationId" />
      <h2>Midwest Region</h2>
    </div>
    <div class="form-group col-md-4">
      <label for="payperiod">Pay Period</label>
      <input
        type="text"
        placeholder="yyyy-mm-dd"
        class="form-control"
        formControlName="payperiod"
        id="payperiod"
      />
    </div>
    <div class="form-group col-md-4">
      <label>Type</label>
      <ng-select
        [items]="allocationTypes"
        formControlName="allocationTypeId"
        placeholder="select"
        bindLabel="name"
        bindValue="id"
        class="cfo-select"
      >
      </ng-select>
    </div>
  </div>
  <div class="form-group">
    <div class="table-responsive">
      <table formArrayName="allocations" class="table table-harbor">
        <thead>
          <tr>
            <th scope="col">S.N</th>
            <th scope="col">Market</th>
            <th scope="col">Revenue</th>
            <th scope="col">COGS</th>
            <th scope="col">COGS Type</th>
            <th scope="col">SE</th>
            <th scope="col">EE</th>
            <th scope="col">G&A</th>
            <th scope="col">Other</th>
            <th scope="col">Other Type</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let allocation of marketAllocations; let i = index"
            [formGroupName]="i"
          >
            <td>{{ i + 1 }}</td>
            <td>
              {{allocation.marketName }}
              <input type="hidden" [ngModel]="allocation.marketId" formControlName="marketId" />
            </td>
            <td>
              <input
                type="text"
                formControlName="revenue"
                class="form-control"
              />
            </td>
            <td>
              <input
                type="text"
                formControlName="cogs"
                class="form-control"
              />
            </td>
            <td>
              <ng-select
                [items]="cogsTypes"
                formControlName="cogsTypeId"
                placeholder="select"
                bindLabel="name"
                bindValue="id"
                class="cfo-select"
              ></ng-select>
            </td>
            <td>
              <input
                type="text"
                formControlName="se"
                class="form-control"
              />
            </td>
            <td>
              <input
                type="text"
                formControlName="ee"
                class="form-control"
              />
            </td>
            <td>
              <input
                type="text"
                formControlName="ga"
                class="form-control"
              />
            </td>
            <td>
              <input
                type="text"
                formControlName="other"
                class="form-control"
              />
            </td>
            <td>
              <ng-select
                [items]="otherTypes"
                formControlName="otherTypeId"
                placeholder="select"
                bindLabel="name"
                bindValue="id"
                class="cfo-select"
              >
              </ng-select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="pull-right">
    <button type="submit" (click)="submit()"  class="btn btn-green mr-2">Save</button>
    <button type="button"  class="btn btn-gray">Cancel</button>
  </div>
</form>
