<div *ngFor="let org of orgList">
  <div class="table-responsive" *ngIf="org.organization||org.childOrganization">
    <div class="table-responsive">
      <h4>{{org.organization}}</h4>
      <table class="table table-harbor">
        <thead>
          <tr>
            <th scope="col">S.N </th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col" class="float-right">Actions</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of org.employees; let i = index">
            <td>{{ i + 1 }}</td>
            <td data-th="employeeName ">{{ emp.employeeName }}</td>
            <td data-th="First Name ">{{ emp.email }}</td>
            <td data-th="Last Name">{{ emp.phoneNumber }}</td>
            <td data-th="Last Name">{{ emp.address }}</td>
            <td data-th="Last Name">{{ emp.city }}</td>
            <td data-th="Actions" class="float-right">
              <a
                class="icon-holder"
                href="javascript:void(0)"
                title="edit"
                ><i class="icon icon-pencil-create"></i
              ></a>
              <span></span>
              <a
                class="icon-holder"
                
                href="javascript:void(0)"
                title="delete"
                ><i class="icon icon-circle-block"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-org-employees *ngIf="org.childOrganization.length>0" [orgList]="org.childOrganization"></app-org-employees>
  </div>