<!-- {{orgList|json}} -->
<div *ngFor="let org of orgList">
  <a [routerLink]="['/organization-information',org.organizationId]">{{org.organization}}</a>
</div>  

<!-- <div *ngFor="let org of orgList">
  <div class="table-responsive" *ngIf="org.organization||org.childOrganization">
    <div class="table-responsive">
      <h4>{{org.organization}}</h4>
      <table class="table table-harbor">
        <thead>
          <tr>
            <th scope="col">S.N </th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of org.employees; let i = index">
            <td>{{ i + 1 }}</td>
            <td data-th="employeeName ">{{ emp.employeeName }}</td>
            <td data-th="First Name ">{{ emp.email }}</td>
            <td data-th="Last Name">{{ emp.phoneNumber }}</td>
            <td data-th="Last Name">{{ emp.address }}</td>
            <td data-th="Last Name">{{ emp.city }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-org-employees *ngIf="org.childOrganization.length>0" [orgList]="org.childOrganization"></app-org-employees>
  </div> -->