<div class="">
    <div class="btn-container">
      <button type="button" class="btn btn-green" (click)="open(content)">
        New Menu
      </button>
    </div>
  
    <div class="content">
      <div class="title-container">
        <h1 class="page-title">Menu</h1>
      </div>
      <div class="table-responsive">
        <table class="table table-harbor">
          <thead>
            <tr>
              <th scope="col">S.N</th>
              <th scope="col">Menu Name</th>
              <th scope="col">Route URL</th>
              <th scope="col">IsActive</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let menu of menus; let i = index">
              <td>{{ i + 1 }}</td>
              <td data-th="Menu Name ">{{ menu.menuName }}</td>
              <td data-th="Route URL ">{{ menu.routeURL }}</td>
              <td data-th="IsActive">{{ menu.isActive }}</td>
              <td data-th="Actions">
                <a
                  (click)="EditData(content, menu)"
                  class="icon-holder"
                  href="javascript:void(0)"
                  title="edit"
                  ><i class="icon icon-pencil-create"></i
                ></a>
                <span></span>
                <a
                  class="icon-holder"
                  (click)="openDeleteModal(deletecontent,menu.menuId)"
                  href="javascript:void(0)"
                  title="delete"
                  ><i class="icon icon-circle-block"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #content let-modal>
        <div class="container">
          <h3 class="modal-title" *ngIf="!isEdit">Create New Menu</h3>
          <h3 class="modal-title" *ngIf="isEdit">Update Menu</h3>
  
          <form
            class="form-cfo"
            [formGroup]="menuForm"
            (ngSubmit)="onSubmit()"
          >
          <div class="form-group">
            <label>Role Name</label>
            <input type="text" formControlName="menuName" class="form-control" placeholder="Menu Name"
                [ngClass]="{'invalid-input': menuForm.controls.menuName.touched && menuForm.controls.menuName.errors}">
            <div *ngIf="menuForm.controls.menuName.touched && menuForm.controls.menuName.errors?.required"
                class="error-msg ">Menu Name is Required!</div>
        </div>

        <div class="form-group">
            <label>Route URL</label>
            <input type="text" formControlName="routeUrl" class="form-control" placeholder="Route URL"
                [ngClass]="{'invalid-input': menuForm.controls.routeUrl.touched && menuForm.controls.routeUrl.errors}">
            <div *ngIf="menuForm.controls.routeUrl.touched && menuForm.controls.routeUrl.errors?.required"
                class="error-msg ">Route URL is Required!</div>
        </div>

      
  
            <div class="row">

              <div class="col-sm-6">
                <div class="custom-checkbox">
              
                  <input
                    type="checkbox"
                    id="checkboxId"
                    formControlName="isActive"
                  />
                  <span>Is Active</span>
                </div>
               
              </div>
            </div>
     
            <div class="float-right">
              <button type="submit" class="btn btn-green mr-3" [disabled]="menuForm.invalid" >
                {{ EventValue }}
              </button>
              <button
                type="button"
                class="btn btn-gray"
                (click)="modal.close('Close Button Clicked')"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </ng-template>
  
      <ng-template #deletecontent let-modal>
        <div class="container">
          <h3 class="modal-title">
            This action is permanent. Are you sure you want to delete this
            menu?
          </h3>
          <div class="float-right">
            <button type="submit" (click)="Delete()"  class="btn btn-green mr-3">
              {{ EventValue }}
            </button>
            <button
              type="button"
              class="btn btn-gray"
              (click)="modal.close('Close Button Clicked')"
            >
              Cancel
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  