<div class="content">
	<div class="title-container">
		<h1 class="page-title" *ngIf="!isEdit">Create New Employee</h1>
		<h1 class="page-title" *ngIf="isEdit">Update Employee</h1>
	</div>

	<div class="">
		<form class="form-cfo" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">


			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label>Employee Name</label>
						<input type="text" formControlName="employeeName" focus="true" class="form-control"
							placeholder="Employee Name" [ngClass]="{
                    'invalid-input':
                      employeeForm.controls.employeeName.touched &&
                      employeeForm.controls.employeeName.errors
                  }" />
						<div *ngIf="
                    employeeForm.controls.employeeName.touched &&
                    employeeForm.controls.employeeName.errors?.required
                  " class="error-msg">
							Name is required
						</div>

					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>Email</label>
						<input type="email" class="form-control" formControlName="email"
							(ngModelChange)="checkEmailExists()" placeholder="Email" [ngClass]="{
                      'invalid-input':
                        employeeForm.controls.email.touched &&
                        employeeForm.controls.email.errors?.required
                    }" />

						<div *ngIf="
                      (employeeForm.controls.email.touched &&
                        employeeForm.controls.email.errors?.email) ||
                      (employeeForm.controls.email.touched &&
                        employeeForm.controls.email.errors?.required)
                    " class="error-msg">
							Email is invalid!
						</div>

						<div *ngIf="isEmailExists" class="error-msg">
							Email Already Exists!
						</div>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label>Phone Number</label>
						<input type="text" class="form-control" formControlName="phone" placeholder="Phone Number"
							[ngClass]="{
                      'invalid-input':
                        employeeForm.controls.phone.touched &&
                        employeeForm.controls.phone.errors
                    }" />
						<div *ngIf="
                      employeeForm.controls.phone.touched &&
                      employeeForm.controls.phone.errors?.required
                    " class="error-msg">
							Phone Number is Required!
						</div>

						<div *ngIf="
                  employeeForm.controls.phone.touched &&
                  employeeForm.controls.phone?.hasError('pattern')
                  " class="error-msg">
							Phone Number is invalid!
						</div>


					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>Address</label>
						<input type="text" class="form-control" formControlName="address" placeholder="Address"
							[ngClass]="{
                      'invalid-input':
                        employeeForm.controls.address.touched &&
                        employeeForm.controls.address.errors?.required
                    }" />
						<div *ngIf="
                      employeeForm.controls.address.touched &&
                      employeeForm.controls.address.errors?.required
                    " class="error-msg">
							Address is Required!
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				

				<div class="col-sm-3">
					<div class="form-group">
						<label>City</label>
						<input type="text" class="form-control" formControlName="city" placeholder="City" [ngClass]="{
                      'invalid-input':
                        employeeForm.controls.city.touched &&
                        employeeForm.controls.city.errors
                    }" />
						<div *ngIf="
                      employeeForm.controls.city.touched &&
                      employeeForm.controls.city.errors?.required
                    " class="error-msg">
							City is Required!
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>Zip Code</label>
						<input type="text" class="form-control" formControlName="zipCode" placeholder="zipCode"
							[ngClass]="{
                      'invalid-input':
                        employeeForm.controls.zipCode.touched &&
                        employeeForm.controls.zipCode.errors?.required
                    }" />
						<div *ngIf="
                      employeeForm.controls.zipCode.touched &&
                      employeeForm.controls.zipCode.errors?.required
                    " class="error-msg">
							ZipCode is Required!
						</div>

						<div *ngIf="
                  employeeForm.controls.zipCode.touched &&
                  employeeForm.controls.zipCode?.hasError('pattern')
                  " class="error-msg">
							Zip Code is invalid!
						</div>

					</div>
				</div>
			</div>

			<div class="row">
				

				<div class="col-sm-3">
					<div class="form-group">
						<label>State</label>
						<ng-select [items]="stateList" bindLabel="name" bindValue="name" style="width: 100%"
							[searchable]="true" [dropdownPosition]="'bottom'" formControlName="state" placeholder="Select State"
							(change)="onStateChange($event)" class="cfo-select" [ngClass]="{
                      'invalid-input':
                        employeeForm.controls.state.errors?.required
                    }">
						</ng-select>

						<div *ngIf="employeeForm.controls.state.errors?.required" class="error-msg">
							State is required!
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>Designation</label>
						<ng-select [items]="designations" bindLabel="designationName" bindValue="designationId"
							placeholder="Select Role" formControlName="designationId" class="cfo-select" [ngClass]="{
                      'invalid-input':
                        employeeForm.controls.designationId.errors?.required
                    }">
						</ng-select>

						<div *ngIf="employeeForm.controls.designationId.errors?.required" class="error-msg">
							Role is required!
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				

				<div class="col-sm-3">
					<div class="form-group">
						<label>Organization</label>
						<ng-select [items]="organizations" bindLabel="organizationName" bindValue="organizationId"
							placeholder="Select Organization" (change)="terminationValidation()"
							formControlName="organizationId" class="cfo-select" [ngClass]="{
                      'invalid-input':
                        employeeForm.controls.organizationId.errors?.required
                    }">
						</ng-select>

						<div *ngIf="employeeForm.controls.organizationId.errors?.required" class="error-msg">
							Organization is required!
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>Employee Type</label>
						<ng-select [items]="employeeTypes" bindLabel="employeeTypeName" bindValue="employeeTypeId"
							placeholder="Employee Type" formControlName="employeeTypeId" class="cfo-select" [ngClass]="{
                      'invalid-input':
                        employeeForm.controls.employeeTypeId.errors?.required
                    }">
						</ng-select>

						<div *ngIf="employeeForm.controls.employeeTypeId.errors?.required" class="error-msg">
							Employee Type is required!
						</div>
					</div>
				</div>
			</div>

			<div class="row">			

				<div class="col-sm-3">
					<label>Pay Type</label>
					<div class="can-toggle">
						<input name="payTypeCheck" id="payTypeCheck" formControlName="payTypeCheck" type="checkbox" />
						<label for="payTypeCheck">
							<div class="can-toggle__switch" data-checked="Salary" data-unchecked="Hourly"></div>
						</label>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>Pay</label>
						<input type="text" class="form-control" formControlName="pay" placeholder="Pay" [ngClass]="{
                      'invalid-input':
                        employeeForm.controls.pay.touched &&
                        employeeForm.controls.pay.errors?.required
                    }" />
						<div *ngIf="
                      employeeForm.controls.pay.touched &&
                      employeeForm.controls.pay.errors?.required
                    " class="error-msg">
							Pay Scale is Required!
						</div>

						<div *ngIf="
                  employeeForm.controls.pay.touched &&
                  employeeForm.controls.pay?.hasError('pattern')
                  " class="error-msg">
							Pay Scale is invalid!
						</div>


					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label>OverTime Rate</label>
						<input type="text" class="form-control" formControlName="overTimeRate"
							placeholder="Over Time Rate" [ngClass]="{
                      'invalid-input':
                        employeeForm.controls.overTimeRate.touched &&
                        employeeForm.controls.overTimeRate.errors?.required
                    }" />
						<div *ngIf="
                      employeeForm.controls.overTimeRate.touched &&
                      employeeForm.controls.overTimeRate.errors?.required
                    " class="error-msg">
							OverTime Rate is Required!
						</div>

						<div *ngIf="
                  employeeForm.controls.overTimeRate.touched &&
                  employeeForm.controls.overTimeRate?.hasError('pattern')
                  " class="error-msg">
							OverTime Rate is invalid!
						</div>

					</div>
				</div>
				<div class="col-sm-3" *ngIf="isEdit">
					<div class="form-group">
						<label>Employee Status</label>
						<ng-select [items]="employeeStatusTypes" bindLabel="statusName" bindValue="statusId"
							placeholder="Status Type" formControlName="statusId" (change)="terminationValidation()"
							class="cfo-select" [ngClass]="{
                      'invalid-input':
                        employeeForm.controls.statusId.errors?.required
                    }">
						</ng-select>

						<div *ngIf="employeeForm.controls.statusId.errors?.required" class="error-msg">
							Status Type is required!
						</div>
					</div>
				</div>
				<div class="col-sm-3" *ngIf="!isEdit">
					<div class="form-group">
						<label>Employee Status</label>
						<ng-select [items]="employeeStatusTypes" bindLabel="statusName" bindValue="statusId"
							[(ngModel)]="statusDefaultValue" placeholder="Status Type" formControlName="statusId"
							(change)="terminationValidation()" class="cfo-select" [ngClass]="{
                      'invalid-input':
                        employeeForm.controls.statusId.errors?.required
                    }">
						</ng-select>

						<div *ngIf="employeeForm.controls.statusId.errors?.required" class="error-msg">
							Status Type is required!
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label>Start Date</label>
						<input (click)="d1.toggle()" [minDate]="minDate" id="date" class="form-control"
							placeholder="yyyy-mm-dd" name="startDate" formControlName="startDate" ngbDatepicker
							#d1="ngbDatepicker" (dateSelect)="startDateChanged()" [ngClass]="{
                      'invalid-input':
                        employeeForm.controls.startDate.touched &&
                        employeeForm.controls.startDate.errors?.required
                    }" />

						<div *ngIf="
                      employeeForm.controls.startDate.touched &&
                      employeeForm.controls.startDate.errors?.required
                    " class="error-msg">
							Start Date is Required!
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="form-group">
						<label>Termination Date</label>
						<input (click)="d2.toggle()" [minDate]="minEndDate" id="date" class="form-control"
							placeholder="yyyy-mm-dd" name="terminationDate" formControlName="terminationDate"
							ngbDatepicker #d2="ngbDatepicker" [ngClass]="{
                      'invalid-input':
                        employeeForm.controls.terminationDate.touched &&
                        employeeForm.controls.terminationDate.errors?.required
                    }" />

						<div *ngIf="
                      employeeForm.controls.terminationDate.touched &&
                      employeeForm.controls.terminationDate.errors?.required
                    " class="error-msg">
							Termination Date is Required!
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label></label>

						<div class="custom-checkbox">
							<input type="checkbox" id="checkboxSuperVisorId" value="1" formControlName="isSupervisor" />
							<span>Is Supervisor</span>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>SuperVisor</label>
						<ng-select [items]="supervisors" placeholder="Select SuperVisor" bindLabel="employeeName"
							bindValue="employeeId" formControlName="superVisorId" class="cfo-select">
						</ng-select>

					</div>
				</div>
			</div>

			<!-- <div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label>SuperVisor</label>
						<ng-select [items]="supervisors" placeholder="Select SuperVisor" bindLabel="employeeName"
							bindValue="employeeId" formControlName="superVisorId" class="cfo-select">
						</ng-select>

					</div>
				</div>
			</div> -->
			<div class="float-left">
				<button type="submit" class="btn btn-green mr-3" [disabled]="employeeForm.invalid">
					{{ EventValue }}
				</button>

				<button type="button" class="btn btn-gray" (click)="resetFrom()">
					Cancel
				</button>
			</div>
		</form>
	</div>

</div>