<div class="content">
  <ng-container>
    <form class="auth-form form-signin" [formGroup]="ChangePasswordForm">
      <div class="form-group">
        <div class="has-float-label">
          <i class="icon fa fa-unlock-alt"></i>
          <input
            type="password"
            placeholder="Current Password"
            id="currentPassword"
            formControlName="currentPassword"
            required
          />
          <span>Current Password</span>
        </div>
        <div
          class="error-msg text-right"
          *ngIf="currentPassword.touched && currentPassword.errors.required"
        >
          Current password is required.
        </div>
      </div>

      <div class="form-group">
        <div class="has-float-label">
          <i class="icon fa fa-unlock-alt"></i>
          <input
            type="password"
            placeholder="Password"
            id="password"
            formControlName="password"
            required
          />
          <span>Password</span>
        </div>
        <div
          class="error-msg text-right"
          *ngIf="
            password.touched && password.invalid && password.errors.required
          "
        >
          Password is required.
        </div>
      </div>
      <div class="form-group">
        <div class="has-float-label">
          <i class="icon fa fa-unlock-alt"></i>
          <input
            type="password"
            placeholder="Confirm Password"
            id="confirmPassword"
            formControlName="confirmPassword"
            required
          />
          <span>Confirm-Password</span>
        </div>
        <div
          class="error-msg text-right"
          *ngIf="
            confirmPassword.touched &&
            confirmPassword.invalid &&
            confirmPassword.errors.required
          "
        >
          Confirm password is required.
        </div>
        <div
          class="error-msg text-right"
          *ngIf="confirmPassword?.errors?.match_value"
        >
          * Confirm password does not match with password.
        </div>
      </div>
      <button
        class="btn btn-white btn-block"
        type="button"
        (click)="onSubmit()"
      >
        Go
      </button>
    </form>
  </ng-container>
</div>
