<div class="">
    <div class="btn-container">
        <button type="button" class="btn btn-green" (click)="open(content)">
            New Employee
        </button>
    </div>

    <div class="content">
        <div class="title-container">
            <h1 class="page-title">Employee</h1>
        </div>
        <div class="table-responsive">
            <table class="table table-harbor">
                <thead>
                    <tr>
                        <th scope="col">S.N</th>
                        <th scope="col">Employee Name</th>
                        <th scope="col">Email</th>

                        <th scope="col">Phone Number</th>

                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">Zip Code</th>
                        <th scope="col">Organization Id</th>
                        <th scope="col">Designation Id</th>
                        <th scope="col">IsSuperVisor</th>
                        <th scope="col">SuperVisor Id</th>

                        <th scope="col">PayType</th>
                        <th scope="col">Pay</th>
                        <th scope="col">Over Time Rate</th>
                        <th scope="col">IsActive</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td data-th="Employee Name ">{{ employee.employeeName }}</td>
                        <td data-th="Email ">{{ employee.email }}</td>
                        <td data-th="Phone Number ">{{ employee.phoneNumber }}</td>
                        <td data-th="Address ">{{ employee.address }}</td>
                        <td data-th="City">{{ employee.city }}</td>
                        <td data-th="Zip Code ">{{ employee.zipCode }}</td>
                        <td data-th="Organization Id ">{{ employee.organizationId }}</td>
                        <td data-th="Designation Id ">{{ employee.designationId }}</td>
                        <td data-th="IsSuperViosr ">{{ employee.isSupervisor }}</td>
                        <td data-th="SuperVisor Id ">{{ employee.superVisorId }}</td>
                        <td data-th="Pay Type ">{{ employee.payType }}</td>
                        <td data-th="Pay ">{{ employee.pay }}</td>
                        <td data-th="OverTime Rate">{{ employee.overTimeRate }}</td>

                        <td data-th="IsActive ">{{ employee.status }}</td>
                        <td data-th="Actions">
                            <a (click)="EditData(content, employee)" class="icon-holder" href="javascript:void(0)"
                                title="edit"><i class="icon icon-pencil-create"></i></a>
                            <span></span>
                            <a class="icon-holder" (click)="Delete(employee.employeeId)" href="javascript:void(0)"
                                title="delete"><i class="icon icon-circle-block"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #content let-modal>
            <div class="container">
                <h3 class="modal-title" *ngIf="!isEdit">Create New Employee</h3>
                <h3 class="modal-title" *ngIf="isEdit">Update Employee</h3>

                <form class="form-cfo" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="text" formControlName="employeeName" class="form-control"
                            placeholder="Employee Name" [ngClass]="{
                'invalid-input':
                  employeeForm.controls.employeeName.touched &&
                  employeeForm.controls.employeeName.errors
              }" />
                        <div *ngIf="
                employeeForm.controls.employeeName.touched &&
                employeeForm.controls.employeeName.errors?.required
              " class="error-msg">
                            Name is required
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="email" class="form-control" formControlName="email" placeholder="Email"
                                    [ngClass]="{
                    'invalid-input':
                      employeeForm.controls.email.touched &&
                      employeeForm.controls.email.errors?.email
                  }" />
                                <div *ngIf="employeeForm.controls.email.errors?.email" class="error-msg">
                                    Email is invalid
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="phoneNumber"
                                    placeholder="Phone Number" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="address"
                                    placeholder="Address" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="city" placeholder="City" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="zipCode"
                                    placeholder="zipCode" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <ng-select [items]="designations" bindLabel="designationName" bindValue="designationId"
                                    placeholder="Select Role" formControlName="designationId">
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <ng-select [items]="organizations" bindLabel="organizationName"
                                    bindValue="organizationId" placeholder="Select Organization"
                                    formControlName="organizationId">
                                </ng-select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="pay" placeholder="Pay" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="payType"
                                    placeholder="Pay Type" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="overTimeRate"
                                    placeholder="Over Time Rate" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="custom-checkbox">
                                <input type="checkbox" id="checkboxSuperVisorId" value="1"
                                    formControlName="isSupervisor" (change)="checkIsSupervisor($event)" />
                                <span>Is Supervisor</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <ng-select *ngIf="employeeForm.value.isSupervisor" [items]="employees"
                            placeholder="Select SuperVisor" bindLabel="employeeName" bindValue="employeeId"
                            formControlName="superVisorId">
                        </ng-select>
                    </div>

                    <div class="float-right">
                        <button type="submit" class="btn btn-green mr-3" [disabled]="employeeForm.invalid">
                            {{ EventValue }}
                        </button>

                        <!-- [disabled]="employeeForm.invalid" -->
                        <button type="button" class="btn btn-gray" (click)="modal.close('Close Button Clicked')">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </ng-template>

        <ng-template #deletecontent let-modal>
            <div class="container">
                <h3 class="modal-title">
                    This action is permanent. Are you sure you want to delete this
                    Employee?
                </h3>
                <div class="float-right">
                    <button type="submit" class="btn btn-green mr-3">
                        {{ EventValue }}
                    </button>
                    <button type="button" class="btn btn-gray" (click)="modal.close('Close Button Clicked')">
                        Cancel
                    </button>
                </div>
            </div>
        </ng-template>
    </div>
</div>